@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* config main */
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

ul {
	list-style:none;
}

a{
	text-decoration:none;
}

img{
	width:100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
	line-height:1.5;
	
}

h1,h2 {
	line-height:1.2;
	font-weight:300;
}




/* End Config main*/


/* start maincase and navabr*/

.maincase {
	background:#173f4f;
}

#navbar {
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:sticky;
	top:0;
	left:0;
	height:70px;
	opacity:0.8;
	color:#2fa098;
	z-index:2;
	
	/* or can other way
	   position:fixed;
	   width:100%;
	*/
	
}

.logo{
	width:70px;
	margin:0 20px;
	
}

ul {
	display:flex;
	
}

ul a {
	color:#2fa098;
	padding:10px 20px;
	margin:0 5px;
	transition:all 0.5s ease;
	
}
a:hover {
	border-bottom:2px solid #fff;
	color:#fff;
}


/* End maincase and navbar*/


/* start maincase*/

.maincase-content{
	max-width:1100px;
	margin:30px auto;
	padding-top:2rem;
	height:100vh;
	
	
}
.maincase-content h2 {
	text-align:center;
	color:#2fa098;
	margin-bottom:2rem;
	margin-top:2rem;
	padding:1rem;
}

.flex {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	margin-top:10rem;
	
}

.flex-item p{
	color:#fff;
	font-size:1.2rem;
	margin-bottom:1rem;
	
}


.flex img {
	width:100px;
	
}

.btn {
	display:block;
	background:none;
	border:1px solid #2fa098;
	color:#fff;
	margin-bottom:2rem;
	padding:10px;
	transition:all 1s ease-in;
	cursor:pointer;
}

.btn:hover{
	background:#6da741;
}

/* End maincase*/


/* start tools*/

#tools {
	background:#f4f4f4;
	margin-top:2rem;
	justify-content:center;
	align-items:center;
	
}
#tools h1 , p {
	text-align:center;
	padding:0.50rem;
	
	
}

#tools h1 {
	font-size:3rem;
	padding-top:2rem;
}

#tools p {
	color:#777;
}

.tools-img{
	margin:1rem;
}


.tools-main{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:3rem;
	margin:30px auto;
}

.tools-content{
	display:flex;
	flex-direction:column;
}

.tools-item{
	display:flex;
	flex-direction:row;
	margin:1rem;
	align-items:center;
	justify-content:center;
	padding:1rem;
	
}

.tools-item:hover {
	background:#ddd;
}

.tools-item a{
	color:#6da741;
}

.item-content{
	display:flex;
	flex-direction:column;
}


.tools-item img {
	width:50%;
	padding:1rem;
}









/* end tools*/


